Body{
	background-color: white
}

#container {
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

#header {
	background-color: black;
	color: white;
	text-align: center
}

#Main {
	text-align: center;
}

#Footer{
	background-color: black;
	text-align: left;
	color: white;
}
